.container {
  display: flex;
  padding: 2rem;

  .mat-mdc-card {
    margin: 0.2rem;
    background-color: var(--card-color);
    color: black;
  }
}

h1 {
  margin-left: 2rem;
}
h2 {
  text-align: center;
}
